<h1>New match</h1>

<form method="post" action="/matches">
  <div>
    First:
    <%- include('playerSelect', { position: 'first', players }) %>
  </div>
  <div>
    Second:
    <%- include('playerSelect', { position: 'second', players }) %>
    <%- include('playerSelect', { position: 'second', players }) %>
    <%- include('playerSelect', { position: 'second', players }) %>
  </div>
  <div>
    Third:
    <%- include('playerSelect', { position: 'third', players }) %>
    <%- include('playerSelect', { position: 'third', players }) %>
    <%- include('playerSelect', { position: 'third', players }) %>
  </div>
  <div>
    Fourth:
    <%- include('playerSelect', { position: 'fourth', players }) %>
    <%- include('playerSelect', { position: 'fourth', players }) %>
    <%- include('playerSelect', { position: 'fourth', players }) %>
  </div>

  <div>
    <button type="submit">Submit</button>
  </div>
</form>
